@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: darkgreen;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  width: fit-content;
  margin: auto;
  width: 100%;
}

.Header, .Footer, .Card {
  font-family: Roboto, 'Open-Sans', sans-serif;
  border-radius: 20px;
  box-shadow: 0px 0px 20px;
  margin: auto;
  background-color: white;
}

.Header {
  width: 100%;
  padding: 20px 0px;
}

.Card {
  width: 350px;
  padding: 20px;
}

.Card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.Footer {
  font-weight: 100;
  font-size: 15px;
  color: darkgray;
  width: 100%;
  padding: 20px 0px;
}